<div class="nav-module logo-module left">
        <a href="/">
            <div class="vnu">
                <img alt="logo" class="logo logo-dark" src="/assets/img/logo-dark.png" style="width:100px;">
            </div>
            <div class="vnu">
                <img alt="logo" class="logo logo-light" src="/assets/img/lambdawhite.png" style="width:100px;">
            </div>
        </a>
    </div>
    <div class="nav-module menu-module left">
        <ul class="menu">
            <li>
                <a href="/analytics-course">Analytics Course</a>
            </li>


            <li class="vpf"><a href="/articles">Articles</a></li>

            <li class="vpf"><a href="/contact">Contact</a></li>
        </ul>
    </div>
</div>
